<address>
    <!-- <strong>Onivo</strong><br> -->
    <i class="fa fa-map-marker fa-fw"></i> Miroslava Krleže 20<br>
    11050 Beograd, Srbija<br>
    <i class="fa fa-phone fa-fw"></i> +381 63 8086 486<br>
    <a href="mailto:{{ site.onv.email|safe_email }}">{{ site.onv.email|safe_email }}</a><br>
    <!-- <i class="fa fa-skype fa-fw"></i> <a href="skype:onivo.mk?add">onivo.mk</a> -->
</address>
