<div class="container" id="features">
    <section>
        <h1 class="text-center">Impresionirajte Vaše klijente<br>profesionalnim fakturama.</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Kreirajte profesionalne dokumente sa Vašim logom za samo nekoliko sekundi.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Šaljite Vaše elektronske dokumente vrlo lako – kao nikada do sada.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Kompletan pregled efikasnosti Vaših naplata.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Izdavanje magacinskih dokumenata za ulaz, izlaz i poravnanje.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Praćenje zaliha Vaših artikala u magacinu, u realnom vremenu.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Upozorenje kada Vam se smanjuju zalihe u magacinu.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Praćenje i kategorizacija troškova nastalih u radu.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-hand-o-up fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Podsetnik za pravovremenu isplatu dospelih ulaznih faktura i dugova.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Precizna analiza i uvid u troškove nastalih u vremenskom periodu.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Onivo je uvek sa Vama. Radite iz Vaše kancelarije, od kuće ili sa plaže.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Bezbedan pristup Vašem profilu sa SSL sertifikatom.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Onivo je Vaš analitičar. Kompletno organizovani izveštaji Vaših poslova.
                </p>
            </div>
        </div>
    </section>
</div>
{% include 'partials/responsive.html.twig' %}
