<div class="container" id="features">
    <section>
        <h1 class="text-center">Импресионирајте ги Вашите клиенти<br>со професионални фактури.</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Креирајте професионални документи со Вашето лого за само неколку секунди.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Лесно испраќајте електронски документи - како никогаш досега.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Комплетен преглед во ефикасноста на Вашата наплата.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Издавање на магацински документи за влез, излез и порамнување.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Следење на залихи на артикли во магацин, во реално време.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Предупредување за намалени залихи на артикли во магацин.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Onivo е секогаш со Вас. Работете од Вашата канцеларија, од дома или од плажа.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Безбеден пристап кон Вашиот профил со SSL сертификат.
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <p class="feature lead">
                    Onivo e Вашиот аналитичар. Целосно организирани извештаи за Вашата работа.
                </p>
            </div>
        </div>
    </section>
</div>
{% include 'partials/responsive.html.twig' %}
