<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3" id="aboutOnivo">
                <h3>Za Onivo</h3>
                <p class="lead">
                    Onivo je besplatna, najnaprednija i najjednostavnija veb aplikacija za fakturisanje. Radite preko pametnog telefona, tableta ili laptopa; u svako doba!
                </p>
            </div>
            <div class="col-md-3 col-sm-3" id="followUs">
                <h3>Pratite nas</h3>
                <div id="social">
                    <a href="https://www.facebook.com/onivo.rs" target="_blank">
                        <i class="fa fa-fw fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCEben1InGw6a_0n2ZQdeWRA" target="_blank">
                        <i class="fa fa-fw fa-youtube-square fa-2x"></i>
                    </a>
                    <!-- <a href="https://twitter.com/OnivoMK" target="_blank">
                        <i class="fa fa-fw fa-twitter fa-2x"></i>
                    </a>
                    <a href="https://linkedin.com/company/onivo" target="_blank">
                        <i class="fa fa-fw fa-linkedin fa-2x"></i>
                    </a> -->
                </div>
                <br>
                <h3>Onivo Vas <i class="fa fa-heart fa-fw" style="color:red"></i></h3>
                <p>
                    Onivo je tu zbog Vas! Vaš posao je sada naša briga.
                </p>
            </div>
            <div class="col-md-6 col-sm-6" id="contact">
                <h3>Kontakt</h3>
                {% include 'partials/address.html.twig' %}
                {% include 'partials/newsletters.html.twig' %}
            </div>
        </div>
        <hr>
        <div class="row" id="copyright">
            <div class="col-md-6">
                <small>
                    &copy; {{ 'now'|date('Y') }} Onivo. Sva Prava Zadržana.
                </small>
            </div>
            <div class="col-md-6">
                <small>
                    <a href="{{ site.onv.registration_link }}">Registracija</a>
                    &nbsp;&middot;&nbsp;
                    <a href="/terms-of-service">Uslovi Korišćenja</a>
                    &nbsp;&middot;&nbsp;
                    <a href="/privacy-policy">Privatnost</a>
                </small>
            </div>
        </div>
    </div>
</footer>
