<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3" id="aboutOnivo">
                <h3>За Onivo</h3>
                <p class="lead">
                    Onivo е бесплатна, најнапредна и најлесна веб апликација за фактурирање. Работете преку паметен телефон, таблет или лаптоп; во секое време!
                </p>
            </div>
            <div class="col-md-3 col-sm-3" id="followUs">
                <h3>Следете н&egrave;</h3>
                <div id="social">
                    <a href="https://www.facebook.com/mk.onivo" target="_blank">
                        <i class="fa fa-fw fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://www.youtube.com/user/onivomk" target="_blank">
                        <i class="fa fa-fw fa-youtube fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/OnivoMK" target="_blank">
                        <i class="fa fa-fw fa-twitter fa-2x"></i>
                    </a>
                    <a href="https://linkedin.com/company/onivo" target="_blank">
                        <i class="fa fa-fw fa-linkedin fa-2x"></i>
                    </a>
                </div>
                <br>
                <h3>Cо <i class="fa fa-heart fa-fw" style="color:red"></i> од Македонија</h3>
                <p>
                    Onivo e  <strong>100%</strong> домашен производ - направен со многу љубов; во <strong>Македонија!</strong>
                </p>
            </div>
            <div class="col-md-6 col-sm-6" id="contact">
                <h3>Kontakt</h3>
                {% include 'partials/address.html.twig' %}
                {% include 'partials/newsletters.html.twig' %}
            </div>
        </div>
        <hr>
        <div class="row" id="copyright">
            <div class="col-md-6">
                <small>
                    &copy; {{ 'now'|date('Y') }} Onivo. Сите Права Задржани.
                </small>
            </div>
            <div class="col-md-6">
                <small>
                    <a href="https://app.onivo.mk/register">Регистрација</a>
                    &nbsp;&middot;&nbsp;
                    <a href="/terms-of-service">Услови за Користење</a>
                    &nbsp;&middot;&nbsp;
                    <a href="/privacy-policy">Приватност</a>
                </small>
            </div>
        </div>
    </div>
</footer>
