<hr>
<p>
    Prijavite se na naš elektronski bilten i budite obavešteni<br> za sve apdejte, promocije i ekskluzivne ponude.
</p>
<p class="lead">
    <div id="mc_embed_signup">
        <form action="//onivo.us14.list-manage.com/subscribe/post?u=2f35087a26f7f38356d251ebb&amp;id=375dad1008" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank">
            <p class="lead">
                <div class="form-group">
                    <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Vaša email adresa" required autocomplete="off">
                </div>
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                    Prijavite se!
                </button>
                <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_d5d59338cbecb708bed652986_5b264992d4" value="">
                </div>
            </p>
        </form>
    </div>
</p>
