<div class="container" id="pricing">
    <section>
        <h1 class="text-center">Fleksibilne cene za vrhunske pakete!</h1>
        <p class="lead text-center">
            Onivo će zauvek biti BESPLATAN, ali ukoliko želite više i složenije funkcionalnosti, nudimo Vam pakete po najpristupačnijim cenama.
        </p>
        {# <div class="row">
            <div class="col-md-12">
            </div>
        </div> #}
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default plan">
                    <div class="panel-heading">
                        <h3>Osnovni</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>10 Partnera</li>
                            <li>25 Artikala</li>
                            <li><span class="emp">Neograničeni</span> Dokumenti</li>
                            <li>1 Korisnik</li>
                            <li>1 Bankovni račun</li>
                            <li>Domaća valuta i jezik</li>
                            <li><strong>Rad u skladištu</strong></li>
                            <li><span class="emp">Premijum</span> Podrška</li>
                            <li>Onivo brending</li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <h3>
                            {# <span class="priceOnDiscount">0</span><br> #}
                            <span>0</span>
                        </h3>
                        <p>
                            RSD / <span class="interval">mesečno</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-primary plan plan-popular">
                    <div class="panel-heading">
                        <h3>Klasik</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>100 Partnera</li>
                            <li>250 Artikala</li>
                            <li><span class="emp">Neograničeni</span> Dokumenti</li>
                            <li>3 Korisnika</li>
                            <li>2 Bankovna računa</li>
                            <li>Strane valute i jezici</li>
                            <li><strong>Rad u skladištu</strong></li>
                            <li><span class="emp">Premijum</span> Podrška</li>
                            <li>Izborni Onivo brending</li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <h3>
                            {# <span id="classicOldPrice" class="priceOnDiscount">399</span><br> #}
                            <span id="classicPrice">699</span>
                        </h3>
                        <p>
                            RSD / <span class="interval">mesečno</span>
                        </p>
                        {# <p class="text-danger interval6 hidden">
                            +1 месец ГРАТИС
                        </p>
                        <p class="text-danger interval12 hidden">
                            +3 месеци ГРАТИС
                        </p> #}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-danger plan">
                    <div class="panel-heading">
                        <h3>Premijum</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><span class="emp">Neograničen</span> broj partnera</li>
                            <li><span class="emp">Neograničen</span> broj artikala</li>
                            <li><span class="emp">Neograničen</span> broj dokumenata</li>
                            <li>10 Korisnika</li>
                            <li>3 Bankovna računa</li>
                            <li>Strane valute i jezici</li>
                            <li><strong>Rad u skladištu</strong></li>
                            <li><span class="emp">Premijum</span> Podrška</li>
                            <li>Izborni Onivo brending</li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <h3>
                            {# <span id="premiumOldPrice" class="priceOnDiscount">899</span><br> #}
                            <span id="premiumPrice">1499</span>
                        </h3>
                        <p>
                            RSD / <span class="interval">mesečno</span>
                        </p>
                        {# <p class="text-danger interval6 hidden">
                            +1 месец ГРАТИС
                        </p>
                        <p class="text-danger interval12 hidden">
                            +3 месеци ГРАТИС
                        </p> #}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <p>
                    <b><i class="fa fa-info-circle fa-fw"></i> BEZ skrivenih troškova!</b><br>
                    Onivo <em>nikada</em> ne naplaćuje mesečno ili godišnje održavanje.<br>
                    Koristite Onivo, koliko i kada želite.
                </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p class="text-muted text-right">
                    <small>* Paketi koji se plaćaju, mogu se kupovati na periodu od 3, 6 ili 12 meseci.</small><br>
                    <small>** Cene su izražene u dinarima <b>sa uključenim PDV-om</b> od 20%.</small>
                    <!-- <small class="text-danger text-right hidden" id="promoOfferHelp"><br>
                        <b>*** Промотивната понуда важи до 29.02.2016.</b>
                    </small> -->
                </p>
                <select name="interval" class="form-control" id="interval">
                    <option value="">Izaberite period</option>
                    <option value="3">3 meseca</option>
                    <option value="6">6 meseca</option>
                    <option value="12">12 meseca</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="row" id="giveMeMyAccount">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="https://app.onivo.mk/register" class="btn btn-primary btn-lg btn-block">
                    <div class="hidden-sm hidden-xs">
                    Registruj svoj <strong>BESPLATAN</strong> profil!</div>
                    <div class="hidden-md hidden-lg">Registruj svoj<br><strong>BESPLATAN</strong>profil!</strong> профил!</div>
                </a>
                <p style="margin-top:15px;" class="text-center">
                    <i class="fa fa-info-circle fa-fw"></i> Bez komplikovanih instalacija, bez mesečnih održavanja, bez skupih servera!
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
</div>
