<div class="container" id="responsive">
    <section>
        <h1 class="text-center">Onivo voli sve!</h1>
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <img src="{{ url("theme://images/responsive.jpg") }}" class="img-responsive" alt="Onivo radi na svim uredjajima!" title="Onivo radi na svim uredjajima!">
            </div>
            <div class="col-md-4 col-sm-6">
                <p class="lead">
                    Onivo radi na svim modernim pretraživačima, uredjajima i operativnim sistemima.
                    Od pametnih telefona, preko tableta, laptopova, do personalnih računara – sve što Vam je potrebno je internet konekcija i Onivo će uvek biti sa Vama!
                </p>
                <p id="browsersMatrix">
                    <i class="fa fa-fw fa-chrome fa-2x" title="Google Chrome" alt="Google Chrome"></i>
                    <i class="fa fa-fw fa-firefox fa-2x" title="Mozilla Firefox" alt="Mozilla Firefox"></i>
                    <i class="fa fa-fw fa-internet-explorer fa-2x" title="Internet Explorer" alt="Internet Explorer"></i>
                    <i class="fa fa-fw fa-safari fa-2x" title="Safari" alt="Safari"></i>
                </p>
            </div>
        </div>
    </section>
</div>
