{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="container">
		<section>
			<div class="row">
				<div class="col-md-12">
					<h1 style="font-size:140px">{{ page.header.http_response_code }}</h1>
					<a href="/">&larr; Vratite se nazad</a>
					<!-- <p>
						{{ page.content }}
					</p> -->
				</div>
			</div>
		</section>
	</div>
{% endblock %}
