{% extends 'partials/base.html.twig' %}

{% block content %}
    {# {% set showcase_image = page.media.images|first.grayscale().contrast(20).brightness(-125).colorize(-35,81,122) %} #}
    {% set showcase_image = page.media[header.landing.image].contrast(20).brightness(-110).colorize(55,55,55) %}
    <section id="landing" style="background-image: url({{ showcase_image.url }});">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <h1>Sve što Vam je potrebno za Vaš biznis!</h1>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <p class="lead">
                        Onivo je <em>besplatna</em> i <em>najsavremenija</em> veb aplikacija za fakturisanje.<br>
                        Radite preko pametnog telefona, tableta ili laptopa; u svako doba!
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <a href="https://app.onivo.rs/register" class="btn btn-primary btn-lg btn-block btnRegister hidden-xs">
                        Registrujte se <b>besplatno</b> odmah!
                    </a>
                    <a href="https://app.onivo.rs/register" class="btn btn-primary btn-lg btn-block btnRegister hidden-sm hidden-md hidden-lg">
                        Registrujte se <br><b>besplatno</b> odmah!
                    </a>
                    <p style="margin-top:8px;" class="text-center">
                       <strong style="text-transform:uppercase;">Zauvek besplatno!</strong><br>
                       <i class="fa fa-info-circle"></i>
                        Bez komplikovanih instalacija, bez mesečnih održavanja, bez skupih servera!
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <section id="saveTreesLanding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p style="padding-bottom:0;margin-bottom:0">
                        Zaštite i sačuvajte drveće – sa Onivom!
                        <a href="/save-trees"><i class="fa fa-tree"></i> <strong>Saznaj više &rarr;</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/features.html.twig' %}
    {% include 'partials/pricing.html.twig' %}
    <div class="wrapper lightGray" id="pricingAux">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h3>Na koji način se plaćaju mesečne pretplate?</h3>
                        <p>
                            Onivo će <strong>zauvek biti besplatan</strong>. Plaćanje se vrši samo klasik i premijum pakete zasnovan na dobijenoj profakturi za unapred izabran period.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h3>Da li sam vezan ugovorom?</h3>
                        <p>
                            <strong>Ne!</strong> U svakom trenutku možete da otkažete ili promenite Vašu pretplatu, bez dodatnh troskova.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h3>Šta ukoliko sam nezadovoljan?</h3>
                        <p>
                            Ukoliko ste nezadovoljni iz bilo kog razloga od strane Onivo, sredstva će Vam biti vraćena. <strong>Nama je najvažnije da ste Vi zadovoljni.</strong>
                        </p>
                    </div>
                </div>
                <div class="row" id="visitFaq">
                    <div class="col-md-12">
                        <h3><i class="fa fa-question-circle"></i> Imate još pitanja u vezi sa Onivo?</h3>
                        <p>
                            Saznajte više na stranici <a href="/faq"><strong>„Često postavljana pitanja“  &rarr;</strong></a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
