{% embed 'partials/base.html.twig' %}

{% block content %}
	<!-- {% if config.plugins.breadcrumbs.enabled %}
		{% include 'partials/breadcrumbs.html.twig' %}
	{% endif %} -->
	<!-- <div class="container">
		<section>
			<div class="row">
				<div class="col-md-8"> -->
					{% include 'partials/post.html.twig' with {'blog':page.parent, 'truncate':false} %}
				<!-- </div> -->
				<!-- <div class="col-md-4">
					{% include 'partials/sidebar.html.twig' with {'blog':page.parent}%}
				</div> -->
			<!-- </div>
		</section>
	</div> -->
{% endblock %}

{% endembed %}
